body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: relative; 
    background-color: darkgray;
    color: white;
    padding: 20px;
    text-align: center;
}
#banner {
    width: absolute;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 50% 75%;
}
nav {
    margin-top: 15px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
nav a:hover {
    text-decoration: underline;
}

p {
    padding: auto;
    margin: 20px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 20px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

figure {
    margin: 20px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

figure img {
    display: inline-block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

main {
    padding-left: 5%;
    padding-right: 5%;
}

footer {
    color: white;
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}

.linkoviFooter {
    display: flex;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto 20px;
}

.footer-link {
    display: flex;
    width: 25%;
    flex-direction:column;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.footer img {
    width: 100px;
    height: auto;
    margin-bottom: 5px;
}

.lista-clanaka {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.clanak {
    flex-basis: 30%;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
}

.slika-clanka img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.podaci-clanka {
    padding: 2%;
    font-size: 0.9em;
    display: flex;
    justify-content:space-evenly;
}

.naslov-clanka {
    padding: 0 15px 15px;
}

.naslov-clanka h2 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
}

.naslov-clanka p {
    font-size: 0.95em;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .clanak {
        flex-basis: 43%;
    }
}

@media (max-width: 480px) {
    .clanak {
        flex-basis: 100%;
    }
}