body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: relative; 
    background-color: darkgray;
    color: white;
    padding: 20px;
    text-align: center;
}
#banner {
    width: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#banner img {
    width: 100%;
    height: auto;
}
nav {
    margin-top: 15px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
nav a:hover {
    text-decoration: underline;
}